<!DOCTYPE html>
<html>
<head>
    <title>Edit ur  post</title>
   <link href="/design.css" rel="stylesheet">
</head>
<body>
    <h1>Edit selected post</h1>
   
      <h3 class="user"><%=post.user%></h2>  
<form method="POST" action="/posts/<%=post.id%>?_method=PATCH">
    
    <textarea rows="7" cols="40" name="content"><%=post.content%></textarea><br><br>
     <button >submit</button>
</form>
        
         
  
</body>
</html>
