<!DOCTYPE html>
<html>
<head>
    <title>Create new post</title>
   <link href="/design.css" rel="stylesheet">
</head>
<body>
    <h1>Create new post</h1>

<form method="post" action="/posts">
    <input placeholder="user" name="user"><br><br>
    <textarea placeholder="content" name="content"></textarea><br><br>
    <button>submit</button>
</form>

</body>
</html>
