<!DOCTYPE html>
<html>
<head>
    <title>delailed post</title>
   <link href="/design.css" rel="stylesheet">
</head>
<body>
    <h1>detail about selected post</h1>
    <h2>id:<%=post.id%></h2>
    <div class="post">
          <h3 class="user"><%=post.user%></h2>  
          <h3 class="content"><%=post.content%></h2>
    </div>

</body>
</html>
